* {
   margin: 0;
   padding: 0;
}

body {
   width: 1200px;
   /* width: 1366px; */
   margin: auto;
   background-color: #f3f3f3;
   /* background-color: #fff; */
   font-family: 'Open Sans', sans-serif;
   /* height: 1000px; */
   overflow-x: hidden;
}

.nav-title {
   margin-top: 100px;
   font-size: 50px;
   font-family: 'Fredoka One', cursive;
   color: #020F59;
}

nav {
   position: fixed;
   height: 800px;
   width: 220px;
   background-color: #56B5BF;
   /* opacity: .6; */
}

li {
   text-align: center;
   list-style-type: none;
}

a:link {
   color: #fff;
   text-decoration: none;
}

a:visited {
   color: #fff;
}

a:hover {
   color: #ffcda0;
}

.nav-title > a {
   color: #ffea23;
}

.left-one {
   position: relative;
   top: 100px;
   left: 25%;
   margin: 10px;
   text-align: left;
   font-size: 25px;
   font-weight: 300;
}
