/* html {
   overflow-x: hidden;
} */

body {
   max-width: 100%;
   max-height: 100%;
   overflow-x: hidden;
   margin: 0 auto;
}

#header {
   position: fixed;
   border-bottom: 1px solid #eaeaeb;
   text-align: right;
}

#hamburger {
   position: fixed;
   margin: 0;
   padding: 0;
   z-index: 90;
   display: block;
   color: #fff;
}

nav {
   position: fixed;
   height: 150px;
   width: 400px;
   background-color: #020f59;
   /* opacity: .5; */
}

/* ul {
   height: 10px;
   width: 300px;
} */

.nav-title {
   position: fixed;
   top: -50px;
   left: 0;
   width: 400px;
   /* margin: auto; */
   /* background-color: blue; */
}

.left-one {
   display: block;
   position: relative;
   text-align: left;
   font-size: 25px;
   font-weight: 300;
   width: 100px;
}

/* .left-one {
   background-color: red;
   width: 100px;
} */

/* ----------------content---------------------------- */
#content {
   position: relative;
   /* left: 320px; */
   top: 180px;
   z-index: -9;
}

/* ------------main----------------------------------------- */

.main-container {
   /* position: fixed; */
   margin: 0;
   padding: 0;
   left: 10px;
   /* right: 310px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 380px;
}

img {
   width: 380px;
}

.index-p {
   display: flex;
   width: 380px;
   text-align: center;
}

/* ------------------------about-------------------------------- */

.about-container {
   position: fixed;
   width: 100%;
   left: 10px;
}


/* ----------------------film-------------------------------- */

.film-container {
   position: absolute;
   width: 100%;
   left: -310px;
}

iframe {
   border: 0;
   display: block;
   width: 380px;
   height: 214px;
}
